#my-container{
    padding: 0 5 0 5
}
.input{
    font-size: 14px;
    padding: 5px
}
#btnLocate{
    font-size: 20px;
    margin-bottom: 10px;
}
#btnFilter {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#title {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: darkgoldenrod;
    letter-spacing: 1px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px; font-size: 15px;
}

#filter{
    margin-top: 10px
}
#ddCrops{
    width: -webkit-fill-available;
    height: 30px;
}

#ddCropsFilter{
    width: -webkit-fill-available;
    height: 30px;
}
#buttonContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#label{
    margin-top: 10px;
    font-size: 16px; 
}
#marker{
    margin-top: 10px
}

#btnAddMarker{
    margin-left: 60px;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#btnUpdateMarker{
    margin-left: 60px;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#btnDelMarker{
    font-size: 14px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
